<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
     <div class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-white">
         {{!-- button --}}
    <div class="flex gap-2 my-4 w-fit xs:gap-4">
  <a href="admin/dashboard" class="bg-gradient-to-b from-zinc-700 to-black rounded-full shadow-md shadow-black/50 hover:outline hover:outline-sky-500 transition-all duration-100 active:from-black active:to-zinc-800 active:translate-y-px inline-block w-fit">
    <div class="font-medium text-white bg-gradient-to-b from-zinc-800 to-zinc-900 rounded-full border-t border-t-zinc-700 group-active:border-t-black group-active:shadow-inner pb-1 pt-0.5 px-4 relative">
      <div class="flex items-center gap-1 whitespace-nowrap transition">
        Preview
        <svg viewBox="0 0 24 24" data-icon="tabler:arrow-right" height="16" width="16">
          <symbol id="ai:tabler:arrow-right">
            <path d="M5 12h14m-6 6l6-6m-6-6l6 6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </symbol>
          <use xlink:href="#ai:tabler:arrow-right"></use>
        </svg>
      </div>
    </div>
  </a>
</div>
        <div class="bg-gradient-to-r from-indigo-600 to-red-500  dark:bg-gray-900 text-gray-800 dark:text-white">
        <div class="container mx-auto px-4 py-8">
            <h2 class="text-3xl font-semibold text-center text-white text-gray-800 dark:text-gray-200 mb-8">
                CONCERT DU MOMENT
            </h2>
            <div class="grid grid-cols-1 mt-3 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                {{#each All}}

                {{!-- Modale de reservation --}}
                  <div id="reservationModal-{{@index}}" class="fixed inset-0 z-50 flex items-center justify-center hidden">
                    <div class="fixed inset-0 bg-black/50"></div>
                    <div class="relative w-full max-w-md p-6 bg-white dark:bg-gray-800 rounded-lg shadow-xl">
                      <div class="flex items-center justify-between mb-4">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Reservation</h3>
                        <button  onclick="closeModal('{{@index}}')" class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                          </svg>
                        </button>
                      </div>
                      <div class="my-5">
                        <div class="flex gap-3">
                            <h1 class="font-semibold">TICKET : </h1>
                            <h2 id="modalTitre-{{@index}}">{{this.titre}}</h2>
                        </div>
                        <div class="flex justify-between my-3">
                            <div class="flex gap-3">
                                <h1 class="font-semibold">DATE : </h1>
                                <h2 id="modalDate-{{@index}}">{{this.date}}</h2>
                            </div>
                            <div class="flex gap-3">
                                <h1 class="font-semibold">TARIF : </h1>
                                <h2 id="modalMontant-{{@index}}">{{this.montant}} F</h2>
                            </div>
                        </div>
                      </div>
                      <div class="space-y-2">
                        <form action="reservation/create" method="POST">
                                <input type="text" id="titre" name="titre" class="hidden w-full mt-1 p-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:focus:ring-indigo-400 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500"
                                value="{{this.titre}}">
                                <input type="date" id="titre" name="date" class="hidden w-full mt-1 p-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:focus:ring-indigo-400 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500"
                                 value="{{this.date}}">
                                <input type="text" id="lieu" name="lieu" class="hidden w-full mt-1 p-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:focus:ring-indigo-400 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500"
                                value="{{this.lieu}}">
                                <input type="number"  id="montant" name="montant" class="hidden w-full mt-1 p-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:focus:ring-indigo-400 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500"
                                value="{{this.montant}}">
                                <label for="email">Entrez l'adresse mail pour le ticket</label>
                                <input type="email" id="email" name="email" class="w-full mt-1 p-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:focus:ring-indigo-400 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500"
                                placeholder="example@gmail.com">
                                <div class="flex justify-end gap-3 mt-2">
                                <button  onclick="closeModal('{{@index}}')" class="px-4 py-2 text-sm font-bold text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-600 dark:hover:bg-gray-600">
                                    Annuler
                                </button>
                                <button type="submit" id="submitUrlButton" class="flex items-center justify-center px-4 py-2 text-sm font-bold text-white rounded-md bg-gradient-to-r from-green-500 to-green-600 hover:from-green-400 hover:to-violet-400 dark:from-indigo-500 dark:to-violet-500 dark:hover:from-indigo-600 dark:hover:to-violet-600">
                                    Confirmer
                                </button>
                                </div>
                        </form>
                      </div>
                    </div>
                  </div>

                <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
                    <div class="relative">
                        <div class="absolute top-0 right-0 bg-white text-blue-500 font-bold px-2 py-1 m-2 rounded-md">{{this.artiste}}
                        </div>
                    </div>
                    <img src="{{this.image}}"
                        alt="Headless UI" class="w-full h-64 object-cover">
                    <div class="p-4 md:p-6">
                        <h3 class="text-xl font-semibold text-indigo-500 dark:text-indigo-300 mb-2">{{this.titre}}</h3>
                        <div class="flex justify-between gap-3">
                            <h3 class="text-md font-medium text-gray-700 dark:text-gray-300" id="dateFormat">Date : {{this.date}} </h3>
                            <h3 class="text-md font-medium text-gray-700 dark:text-gray-300">Lieu : {{this.lieu}}</h3>
                        </div>
                        
                

                        <div class="flex justify-between mt-6">
                            <h2 class="inline-block font-semibold bg-red-500 text-white  text-white px-4 py-2 rounded-md">
                                TARIF : {{this.montant}} F
                            </h2>                  
                            </div>
                        </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</body>
</html>